################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HomerBlazor/FileContentIndex
/.vs/HomerBlazor/CopilotIndices
/.vs/HomerBlazor/DesignTimeBuild
/.vs
